/* Algemene stijlen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.toontijd {
    background-color: #45a049;
    border: 2px solid black;
}

h1 {
    color: #333;
}

/* Info-sectie */
.info {
    margin-bottom: 20px;
}

.info p {
    margin: 5px 0;
}

progress {
    width: 50%;
    height: 20px;
}

/* Game-area layout */
.game-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;

}

/* Memory grid */
.memory-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 65%;
}

.card {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #89f357;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #333;
    user-select: none;
}

.card.open {
    background-color: #006400;
}

.card.found {
    background-color: #800080;
}

/* Sidebar */
.sidebar {
    width: 30%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.sidebar ol {
    padding-left: 20px;
    margin: 10px 0;
}

.sidebar p {
    margin: 10px 0;
}

.controls label {
    display: block;
    margin: 10px 0;
}

.new-game {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.new-game:hover {
    background-color: #45a049;
}
